# Python virtual environment
venv/
.env

# Python files
*.pyc
__pycache__/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm project files
.idea/


# Logs
*.log




# Unit test results
.coverage
*.cover

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint.log

# coverage.py
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pytest
.cache

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.kate-swp

# macOS
.DS_Store
